{% macro recipe_container(recipe) -%}
    <div class="recipe-container">
        <div class="recipe-header">
            <div class="h-ind">RECIPE NAME</div>
            <div class="h-ind">&gt;&gt;</div>
            <div>{{ recipe.name }}</div>

            <div class="h-ind2">SCALE</div>
            <div class="h-ind">&gt;&gt;</div>
            <div>{{ "{:04}".format(recipe.scale) }}</div>

            <div class="h-ind2">CONSUMERS</div>
            <div class="h-ind">&gt;&gt;</div>
            <div>{{ recipe.consumers | join(', ') }}</div>

        </div>
        <div class="recipe-body-container">
            <div>RECIPE:</div>
            <div class="recipe-body">
                {% for resource in recipe.resources %}
                    <div class="dir">IN:</div>
                    <div class="qt">{{ "{:04}".format(resource.quantity) }}</div>
                    <div>x</div>
                    <div>{{ resource.name }}</div>
                    <div></div>
                {% endfor %}

                <div class="sum-sep">---------------------------------------</div>

                {% for product in recipe.products %}
                    <div class="dir">OUT:</div>
                    <div class="qt">{{ "{:04}".format(product.quantity) }}</div>
                    <div>x</div>
                    {% if product.is_excess %}
                        <div>{{ product.name }}</div>
                        <div class="side-product">**SIDE PRODUCT**</div>

                    {% elif product.overflow %}
                        <div>{{ product.name }}</div>
                        <div class="side-product">+{{ "{:07.02f}".format(product.overflow) }}</div>

                    {% else %}
                        <div>{{ product.name }}</div>
                        <div class="side-product">+{{ "{:07.02f}".format(0) }}</div>

                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{%- endmacro %}

{% macro plan_header(plan_date, recipe_name) -%}
    <div class="plan-header">
        <div class="plan-header-content">
            <div class="header-primer">
                <div>PRODUCTION PLAN</div>
                <div>|</div>
                <div>DATE: {{ plan_date }}</div>
                <div>|</div>
            </div>
            <div>{{ recipe_name }}</div>
        </div>
        <div style="overflow: clip">
            ====================================================================================================================================================================
        </div>
    </div>
{%- endmacro %}

{% macro plan_notes(note_list, indicator) -%}
    <div class="plan-notes">
        <div class="notes-header">**********************NOTES**********************</div>
        <div class="notes-body">
            {% for note in note_list %}
                <div class="notes-item-ind">{{ indicator | e }}</div>
                {% if note[0] == 's' %}
                    <div class="notes-item-single">{{ note[1] }}</div>
                {% elif note[0] == 'kv' %}
                    <div class="notes-item-pair">
                        <div>{{ note[1] }}</div>
                        <div>{{ note[2] }}</div>
                    </div>
                {% elif note[0] == 'l' %}
                    <div class="notes-item-single">
                        <div>{{ note[1] }}</div>
                        <div class="notes-list">
                            {% for list_item in note[2] %}
                                <div>{{ list_item[0] }}</div>
                                <div>{{ list_item[1] }}</div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{%- endmacro %}

{% macro plan_overview(plan, generator) -%}
    <div class="plan-overview">
        <div>
            <p style="justify-self: center"><b>--FOR INTERNAL USE ONLY--</b></p>
            Production plan generated at {{ plan.date }} for end product <i>{{ plan.recipe_name }}</i>
            and base scale factor of end product recipe of {{ "{:04}".format(plan.recipe_scale) }}.
            <p></p>
            Plan generated by
            <div class="text-ident">{{ plan.operator_name }}</div>
            (identified as
            <div class="text-ident">{{ plan.operator_user }}</div>
            ,
            department
            <div class="text-ident">{{ plan.operator_department }}</div>
            ) using workstation
            <div class="text-ident">{{ plan.operator_workstation }}</div>
            .

        </div>
        <table class="recipe-summary">
            <tbody>
            <tr>
                <td colspan="3">RECIPE</td>
            </tr>
            <tr>
                <td></td>
                <td class="label-us">RECIPE NAME</td>
                <td>&gt;&gt;&gt;&gt;&gt;</td>
                <td>{{ plan.recipe_name }}</td>
            </tr>
            <tr>
                <td></td>
                <td class="label-us">BASE SCALE</td>
                <td>&gt;&gt;&gt;&gt;&gt;</td>
                <td>{{ plan.recipe_scale }}</td>
            </tr>

            <tr>
                <td colspan="4">PLAN</td>
            </tr>
            <tr>
                <td></td>
                <td class="label-us">TOTAL NO. OF STATIONS</td>
                <td>&gt;&gt;&gt;&gt;&gt;</td>
                <td>{{ plan.count_stations }}</td>
            </tr>
            <tr>
                <td></td>
                <td class="label-us">TOTAL NO. OF RECIPES</td>
                <td>&gt;&gt;&gt;&gt;&gt;</td>
                <td>{{ plan.count_recipes }}</td>
            </tr>
            <tr>
                <td colspan="4">PLAN GENERATOR</td>
            </tr>
            <tr>
                <td></td>
                <td class="label-us">GENERATOR NAME</td>
                <td>&gt;&gt;&gt;&gt;&gt;</td>
                <td>{{ generator.name }}</td>
            </tr>
            <tr>
                <td></td>
                <td class="label-us">VERSION</td>
                <td>&gt;&gt;&gt;&gt;&gt;</td>
                <td>{{ generator.version }}</td>
            </tr>
            </tbody>


        </table>
    </div>
{%- endmacro %}