@font-face {
    font-family: "3270 Regular";
    font-style: normal;
    src: url("resources/font/3270-Regular.woff") format('woff');
}

@font-face {
    font-family: "3270 Condensed Regular";
    font-style: normal;
    src: url("resources/font/3270Condensed-Regular.woff") format('woff');
}

body {
    font-family: "3270 Regular", monospace;
}

@media print {
    #body {
        max-width: 210mm;
        padding: 10mm 20mm 25mm 10mm;
    }

    .recipe-container {
        break-inside: avoid;
    }
}

.plan-header {
    font-family: "3270 Regular", monospace;
    font-weight: bold;
}

.plan-header-content {
    display: flex;
}

.plan-header-content .header-primer {
    display: flex;
    flex: auto;
}

.plan-header-content .header-primer div {
    padding-right: 1rem;
}

.text-ident {
    display: inline;
    text-decoration: underline;
}

/* ----------------- plan overview ------------------ */

.plan-overview {
    display: grid;
    grid-template-columns: auto auto;
}

.plan-overview .recipe-summary {
    width: max-content;
    justify-self: right;
    border-collapse: collapse;

}

.plan-overview .recipe-summary td {
    border-bottom: 0.1rem hidden black;
    padding-left: 0.3rem;
}
.plan-overview .recipe-summary td:first-child {
    font-weight: bold;
}

.plan-overview .label-us {
    text-decoration: underline;
}

/* ----------------- notes -------------------------- */
.plan-notes {

}

.notes-header {
    font-weight: bold;
}

.notes-body {
    display: grid;
    grid-template-columns: min-content 100%;
    grid-column-gap: 0.5rem;
    padding-left: 1rem;
}

.notes-item-ind {
    font-weight: bold;
}
.notes-item-pair {
    display: grid;
    grid-template-columns: max-content auto;
    grid-column-gap: 1rem;
}

.notes-item-single {

}

.notes-list {
    display: grid;
    grid-template-columns: max-content auto;
    column-gap: 0.5rem;
    padding-left: 2rem;
}

/* ----------------- recipe ------------------------- */

.recipe-container {
    display: grid;
    grid-column-gap: 0.5rem;
}

.recipe-container-header {
    display: flex;
    justify-content: center;
    font-weight: bold;

    margin-bottom: 1rem;
    margin-top: 2rem;
}

.recipe-container div {
    display: grid;
    grid-column-gap: 0.5rem;
}

.recipe-header {
    display: grid;
    grid-template-columns: max-content max-content auto;
}

.recipe-header .h-ind {
    display: grid;
    font-weight: bold;
}

.recipe-header .h-ind2 {
    display: grid;
    font-weight: bold;
    padding-left: 1rem;
}

.recipe-body-container {
    display: grid;
    font-weight: bold;
    padding-left: 2rem;
    grid-template-columns: auto;
}

.recipe-body {
    display: grid;
    font-weight: normal;
    padding-left: 1rem;
    padding-bottom: 1rem;
    grid-template-columns: max-content max-content max-content max-content auto;
}

.recipe-body div {
    display: flex;
}

.recipe-body .dir {
    font-weight: bold;
    justify-content: left;
}

.recipe-body .qt {
    justify-content: end;
}

.recipe-body .sum-sep {
    grid-column: 1 / 6;
    width: 1px;
    text-wrap: nowrap;
}

.side-product {
    font-weight: bold;
}